* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}
h1 {
  color: rgb(212, 15, 15);
  font-size: 35px;
  padding-top: 7px;
  font-weight: bolder;
}

#form_bac {
  font-size: 24px;
  margin: 20px 10px;
  padding: 7px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.gender_div {
  display: inline-flex;
  gap: 10px;
  text-align: center;
}
input {
  padding: 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
input[type="radio"] {
  transform: scale(2);
}

#drink {
  padding: 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
#submit_btn {
  font-size: 20px;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

#reset_btn {
  font-size: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: none;
  margin-left: 40px;
}

#result {
  font-size: 25px;
  background-color: rgb(103, 2, 198);
  color: white;
  font-weight: 900;
  margin: 2px 500px;
  border-radius: 10px;
  padding: 10px 5px;
}
