* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 40px 40px;
}
.red-container {
  display: grid;
}

.red1,
.red2,
.red3,
.red4,
.red5 {
  background-color: red;
  height: 100px;
  border: 1px solid black;
}

.red1 {
  grid-column: 1/2;
}

.red2 {
  grid-column: 2/3;
}

.red3 {
  grid-column: 3/4;
}

.red4 {
  grid-column: 1/2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.red5 {
  grid-column: 2/3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.green-container {
  display: grid;
}

.green1,
.green2,
.green3,
.green4,
.green5 {
  background-color: greenyellow;
  height: 100px;
  border: 1px solid black;
}

.green1 {
  grid-column: 1/4;
}

.green2 {
  grid-column: 1/2;
  height: 220px;
  grid-row-start: 2;
  grid-row-end: 4;
}

.green3 {
  grid-column: 2/3;
}

.green4 {
  grid-column: 3/4;
}
.green5 {
  grid-column: 2/3;
  margin-top: -22px;
}
