* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  border: 1px solid black;
  margin: 5px 10px;
}

#addPost_btn {
  margin: 5px 10px;
}

form {
  margin: 5px 10px;
}

.textarea {
  width: 300px;
  height: 100px;
}

#submit_btn {
  margin: 10px 10px;
}

.createdPostDiv {
  margin: 20px;
}
.newPostHeadAndTextDiv {
  border: 2px solid rgb(123, 123, 123);
  margin: 5px;
}
.newPostHeadDiv {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.newPostHeadline {
  font-size: 18px;
  text-decoration: underline;
}

.newPostParagraph {
  font-size: 15px;
  margin: 15px;
}

.forum-container {
  display: none;
}
