.yellow {
  color: red;
}
/* // Assignment 6.4: Formatting (Could not find highligts)

let paragraph = document.querySelector("#paragraph");

const formatting = () => {
  const seperatedSentencesIntoArray = paragraph.innerText.split(". ");

  for (let i = 0; i < seperatedSentencesIntoArray.length; i++) {
    const sentences = (paragraph.innerHTML = seperatedSentencesIntoArray[i]);

    const newParagraphs = document.createElement("p");
    newParagraphs.innerHTML = sentences;

    document.querySelector("#paragraph_div").appendChild(newParagraphs);
    paragraph.style.display = "none";
  }
};
formatting();
 */
