* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green-container,
.red-container {
  display: flex;
}

.green-container {
  display: flex;
  justify-content: space-evenly;
}
.green {
  margin-top: 30px;
  background-color: rgb(28, 228, 28);
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
.red-container {
  margin-left: 160px;
  margin-right: 160px;
}
.red {
  background-color: rgb(213, 18, 18);
  border: 1px solid black;
  height: 50px;
  flex-grow: 1;
}
.red:nth-child(2) {
  flex-grow: 2.1;
}
